<mat-card>
    <mat-card-header>
        <mat-card-title>
            <span *ngIf="currentPlay?.id; else elseBlock">
                Edit: {{currentPlay.title | titlecase }}
            </span>
            <ng-template #elseBlock>Add a Play</ng-template>
        </mat-card-title>
    </mat-card-header>
    <form #form="ngForm" (submit)="saved.emit(currentPlay)">
        <mat-card-content style="margin-top: 2%">
            <mat-form-field class="full-width">
                <input
                matInput
                placeholder="Title"
                [(ngModel)]="currentPlay.title"
                name="title"
                required
                type="text">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input
                matInput
                placeholder="Description"
                [(ngModel)]="currentPlay.description"
                name="description"
                type="text">
            </mat-form-field>
    
              <section>
                <mat-checkbox [(ngModel)]="currentPlay.favorite" name="favorite">
                  Favorite
                </mat-checkbox>
              </section>
        </mat-card-content>

        <!-- DETAIL BUTTONS -->
        <mat-card-actions>
            <button type="submit" [disabled]="form.invalid" mat-button color="primary">Save</button>
            <button type="button" mat-button (click)="cancelled.emit()">Cancel</button>
        </mat-card-actions>
    </form>
</mat-card>